.main{
    width: 100%;
    height: 100vh;
    .main-container{
        width: 100%;
        height: calc(100% - 4.6rem);
        // background-color: red;
        display: flex;
        .sidebar{
            // background-color: navy;
            width: 110px;
           height: 100%;
        }
        .content-section{
width: 100%;
height: 100%;
// background-color: aqua;
        }
    }
}