.main{
    width: 100%;
    height: 100%;
    .main-container{
     width: 100%;
     height: 100%;
     padding: 2rem;
    //  background-color: rgb(224, 180, 115);
     font-family: 'Poppins', sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
// 
.section{
    width: 95%;
    height: 90%;
    border: 1px solid grey;
    border-radius: .5rem;
.heading{
    height: 5rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    // background-color: chocolate;
}
.form-fill{
    height: calc(100% - 5rem);
    padding: 2rem;
    overflow-y: scroll;
display: flex;
flex-wrap: wrap;
gap: 2rem;
.form-fill1{
    display: flex;
flex-wrap: wrap;
gap: 2rem;
    mat-form-field {
        width: 350px; /* Adjust the width as per your requirement */
      }
    }
}
}


// 
    }
 }