
<div class="main">
  <section class="main-container">
    <!-- profile -->

    <section class="profile">
        <aside class="profile-container">
            <aside class="first-section" >
                <aside class="upper-leyar"></aside>
                <aside class="lover-leyar">
                    <p>userdata.name</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
                </aside>
                <aside  class="position-layer">
    
                </aside>
                <aside  class="position-layer1">
    
                </aside>
            </aside>
            <aside class="second-section">
                <aside class="second-child">
                <i class="fas fa-phone-alt"></i> <p style="font-size: 1.1rem;">userdata.number</p>
            </aside>
            
            <aside class="second-child">
                <i class="fas fa-envelope"></i> <p style="font-size: 1.1rem;">userdata.email</p>
            </aside>
            <aside class="second-child">
                <i class="fas fa-calendar"></i> <p style="font-size: 1.1rem;">userdata.date</p>
             </aside>
            </aside>
        </aside>
    </section>
    <section class="profile">
        <aside class="profile-container">
            <aside class="first-section" >
                <aside class="upper-leyar"></aside>
                <aside class="lover-leyar">
                    <p>userdata.name</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
                </aside>
                <aside  class="position-layer">
    
                </aside>
                <aside  class="position-layer1">
    
                </aside>
            </aside>
            <aside class="second-section">
                <aside class="second-child">
                <i class="fas fa-phone-alt"></i> <p style="font-size: 1.1rem;">userdata.number</p>
            </aside>
            
            <aside class="second-child">
                <i class="fas fa-envelope"></i> <p style="font-size: 1.1rem;">userdata.email</p>
            </aside>
            <aside class="second-child">
                <i class="fas fa-calendar"></i> <p style="font-size: 1.1rem;">userdata.date</p>
             </aside>
            </aside>
        </aside>
    </section>
    <section class="profile">
        <aside class="profile-container">
            <aside class="first-section" >
                <aside class="upper-leyar"></aside>
                <aside class="lover-leyar">
                    <p>userdata.name</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
                </aside>
                <aside  class="position-layer">
    
                </aside>
                <aside  class="position-layer1">
    
                </aside>
            </aside>
            <aside class="second-section">
                <aside class="second-child">
                <i class="fas fa-phone-alt"></i> <p style="font-size: 1.1rem;">userdata.number</p>
            </aside>
            
            <aside class="second-child">
                <i class="fas fa-envelope"></i> <p style="font-size: 1.1rem;">userdata.email</p>
            </aside>
            <aside class="second-child">
                <i class="fas fa-calendar"></i> <p style="font-size: 1.1rem;">userdata.date</p>
             </aside>
            </aside>
        </aside>
    </section>
    <section class="profile">
        <aside class="profile-container">
            <aside class="first-section" >
                <aside class="upper-leyar"></aside>
                <aside class="lover-leyar">
                    <p>userdata.name</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
                </aside>
                <aside  class="position-layer">
    
                </aside>
                <aside  class="position-layer1">
    
                </aside>
            </aside>
            <aside class="second-section">
                <aside class="second-child">
                <i class="fas fa-phone-alt"></i> <p style="font-size: 1.1rem;">userdata.number</p>
            </aside>
            
            <aside class="second-child">
                <i class="fas fa-envelope"></i> <p style="font-size: 1.1rem;">userdata.email</p>
            </aside>
            <aside class="second-child">
                <i class="fas fa-calendar"></i> <p style="font-size: 1.1rem;">userdata.date</p>
             </aside>
            </aside>
        </aside>
    </section>
    <section class="profile">
        <aside class="profile-container">
            <aside class="first-section" >
                <aside class="upper-leyar"></aside>
                <aside class="lover-leyar">
                    <p>userdata.name</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
                </aside>
                <aside  class="position-layer">
    
                </aside>
                <aside  class="position-layer1">
    
                </aside>
            </aside>
            <aside class="second-section">
                <aside class="second-child">
                <i class="fas fa-phone-alt"></i> <p style="font-size: 1.1rem;">userdata.number</p>
            </aside>
            
            <aside class="second-child">
                <i class="fas fa-envelope"></i> <p style="font-size: 1.1rem;">userdata.email</p>
            </aside>
            <aside class="second-child">
                <i class="fas fa-calendar"></i> <p style="font-size: 1.1rem;">userdata.date</p>
             </aside>
            </aside>
        </aside>
    </section>
    <section class="profile">
        <aside class="profile-container">
            <aside class="first-section" >
                <aside class="upper-leyar"></aside>
                <aside class="lover-leyar">
                    <p>userdata.name</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
                </aside>
                <aside  class="position-layer">
    
                </aside>
                <aside  class="position-layer1">
    
                </aside>
            </aside>
            <aside class="second-section">
                <aside class="second-child">
                <i class="fas fa-phone-alt"></i> <p style="font-size: 1.1rem;">userdata.number</p>
            </aside>
            
            <aside class="second-child">
                <i class="fas fa-envelope"></i> <p style="font-size: 1.1rem;">userdata.email</p>
            </aside>
            <aside class="second-child">
                <i class="fas fa-calendar"></i> <p style="font-size: 1.1rem;">userdata.date</p>
             </aside>
            </aside>
        </aside>
    </section>
    <section class="profile">
        <aside class="profile-container">
            <aside class="first-section" >
                <aside class="upper-leyar"></aside>
                <aside class="lover-leyar">
                    <p>userdata.name</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
                </aside>
                <aside  class="position-layer">
    
                </aside>
                <aside  class="position-layer1">
    
                </aside>
            </aside>
            <aside class="second-section">
                <aside class="second-child">
                <i class="fas fa-phone-alt"></i> <p style="font-size: 1.1rem;">userdata.number</p>
            </aside>
            
            <aside class="second-child">
                <i class="fas fa-envelope"></i> <p style="font-size: 1.1rem;">userdata.email</p>
            </aside>
            <aside class="second-child">
                <i class="fas fa-calendar"></i> <p style="font-size: 1.1rem;">userdata.date</p>
             </aside>
            </aside>
        </aside>
    </section>
    <section class="profile">
        <aside class="profile-container">
            <aside class="first-section" >
                <aside class="upper-leyar"></aside>
                <aside class="lover-leyar">
                    <p>userdata.name</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
                </aside>
                <aside  class="position-layer">
    
                </aside>
                <aside  class="position-layer1">
    
                </aside>
            </aside>
            <aside class="second-section">
                <aside class="second-child">
                <i class="fas fa-phone-alt"></i> <p style="font-size: 1.1rem;">userdata.number</p>
            </aside>
            
            <aside class="second-child">
                <i class="fas fa-envelope"></i> <p style="font-size: 1.1rem;">userdata.email</p>
            </aside>
            <aside class="second-child">
                <i class="fas fa-calendar"></i> <p style="font-size: 1.1rem;">userdata.date</p>
             </aside>
            </aside>
        </aside>
    </section>
    <section class="profile">
        <aside class="profile-container">
            <aside class="first-section" >
                <aside class="upper-leyar"></aside>
                <aside class="lover-leyar">
                    <p>userdata.name</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
                </aside>
                <aside  class="position-layer">
    
                </aside>
                <aside  class="position-layer1">
    
                </aside>
            </aside>
            <aside class="second-section">
                <aside class="second-child">
                <i class="fas fa-phone-alt"></i> <p style="font-size: 1.1rem;">userdata.number</p>
            </aside>
            
            <aside class="second-child">
                <i class="fas fa-envelope"></i> <p style="font-size: 1.1rem;">userdata.email</p>
            </aside>
            <aside class="second-child">
                <i class="fas fa-calendar"></i> <p style="font-size: 1.1rem;">userdata.date</p>
             </aside>
            </aside>
        </aside>
    </section>
    <section class="profile">
        <aside class="profile-container">
            <aside class="first-section" >
                <aside class="upper-leyar"></aside>
                <aside class="lover-leyar">
                    <p>userdata.name</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
                </aside>
                <aside  class="position-layer">
    
                </aside>
                <aside  class="position-layer1">
    
                </aside>
            </aside>
            <aside class="second-section">
                <aside class="second-child">
                <i class="fas fa-phone-alt"></i> <p style="font-size: 1.1rem;">userdata.number</p>
            </aside>
            
            <aside class="second-child">
                <i class="fas fa-envelope"></i> <p style="font-size: 1.1rem;">userdata.email</p>
            </aside>
            <aside class="second-child">
                <i class="fas fa-calendar"></i> <p style="font-size: 1.1rem;">userdata.date</p>
             </aside>
            </aside>
        </aside>
    </section>
    <section class="profile" *ngFor="let item of users">
        <aside class="profile-container">
            <aside class="first-section" [ngSwitch]="item.sex.length">
                <aside class="upper-leyar"></aside>
                <aside class="lover-leyar">
                    <p>{{item.name}}</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
                </aside>
                <aside  *ngSwitchCase="4" class="position-layer">
    
                </aside>
                <aside  *ngSwitchCase="6" class="position-layer1">
    
                </aside>
            </aside>
            <aside class="second-section">
                <aside class="second-child">
                <i class="fas fa-phone-alt"></i> <p style="font-size: 1.1rem;">{{item.number}}</p>
            </aside>
            
            <aside class="second-child">
                <i class="fas fa-envelope"></i> <p style="font-size: 1.1rem;">{{item.email}}</p>
            </aside>
            <aside class="second-child">
                <i class="fas fa-calendar"></i> <p style="font-size: 1.1rem;">{{item.date}}</p>
             </aside>
            </aside>
        </aside>
    </section>
    

  </section>
    
</div>
