.main{
   width: 100%;
   height: 100%;
   overflow-y: scroll;
   
   .main-container{
    width: 100%;
    height: 100%;
    padding: 2rem;
    // background-color: rgb(224, 224, 115);
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    // justify-content: space-between;

    // profile
    .profile{
        width: 16rem;
        height: 21rem;
        background-color: #fff;
        border-radius: 1rem;
        // padding: .2rem;
        font-family: 'Poppins', sans-serif;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .profile-container{
            // background-color: rgba(73, 134, 226, 0.767);
            width: 100%;
            height: 100%;
            // border-radius: .4rem;
            .first-section{
                // border-radius: .4rem;
                position: relative;
                height: 11rem;
                // background-color: rgba(210, 105, 30, 0.849);
                .upper-leyar{
                    border-radius: 1rem;
                    height: 55%;
                    background-color: rgb(100, 142, 196);
                }
                .lover-leyar{
                    height: 45%;
                    display: flex;
                    justify-content: space-between;
                    padding: 1.3rem;
                    background-color: #fff;
                    p{
                        margin-top: 1.3rem;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                    button{
                        background: none;
                        border: none;
                    }
                    
                }
                .position-layer{
                    bottom: 2.3rem;
                    left: 1rem;
                    width: 6.5rem;
                    height: 6.5rem;
                    border-radius: 50%;
                    position: absolute;
                    background: #fff;
                    background-image: url(../../../assets/profile-male.jpg);
                    background-position: center;
                    background-size: cover;
                    border: 4px solid white;
                }
                .position-layer1{
                    bottom: 2.3rem;
                    left: 1rem;
                    width: 6.5rem;
                    height: 6.5rem;
                    border-radius: 50%;
                    position: absolute;
                    background: #fff;
                    background-image: url(../../../assets/profile-female.jpg);
                    background-position: center;
                    background-size: cover;
                    border: 4px solid white;
                }
            }
            .second-section{
                padding-top: .5rem;
                display: flex;
                flex-direction: column;
                color: gray;
                // border-top: 1px solid rgba(92, 91, 91, 0.904);
                // justify-content: space-between;
                align-items: center;
                .second-child{
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.3rem;
                    
                }
            }
        }
    }
    // 
   }

}
