<!-- <h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->

<section class="main">
<aside class="main-container">
<!-- <aside class="img"> -->
    <img src="../../../assets/hand1.png" width="250rem" height="auto" alt="">
<!-- </aside> -->
<p style="font-size: 1.4rem;font-weight: 600;">Successfully added new Employee</p>
<p style="font-size: .9rem;font-weight: 500;color: gray;">in publishing and graphic design,Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <button mat-raised-button  mat-dialog-close>Close</button>

</aside>

</section> 