<section class="main">
    <aside class="container1">
       <aside class="section-main">
            <form [formGroup]="registerform" action="" class="registerpage">
                <h1 class="head">Register</h1>
                <aside class="select-option">
                <input type="text" placeholder="Username" formControlName="name">
                <input type="email" placeholder="Email" formControlName="email">
                </aside>
                <aside class="select-option">
                <input type="date" placeholder="Data Of Birth" formControlName="date">
                <input type="number" placeholder="Phone Number" formControlName="number">
                </aside>
                <aside class="select-option">
                <aside class="select-option1">
                    <label for="sex">Sex:</label>
                    <select formControlName="sex" id="sex">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                      </select>
                </aside>
              
                <input type="password" placeholder="password" formControlName="password">
                </aside>
                <button class="btn btn-primary" type="button" (click)="Submit(registerform.value)">Submit
</button>
                <aside class="text-link">
                    <p>Don't have any account?<a [routerLink]="['']">sign in</a></p>
                </aside>
            </form>
       </aside>
    </aside>
</section>
