@import "../../../assets/scss/base/variables";
.main{
    margin: 0;
    padding: 0;
    // background-color: #15212b3d;
    .container1{
        width: 100%;
        height: 100vh;
        background-color: #1f74ba3d;
       display: flex;
       justify-content: center;
       align-items: center;
       font-family: 'Poppins', sans-serif;
       .section-main{
        padding: 1rem;
        width: 25rem;
        height: 35rem;
        /* background-color: antiquewhite; */
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: .5rem;
        background-color: white;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        @media only #{$desktop-max-md}{
            width: 23rem;
            // height: 30rem;
        }
        @media only #{$desktop-max-lg}{
            height: 30rem;
        }
        .loginpage{
            text-align: center;
            display: flex;
            flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        .head{
            font-weight: 700;
            position: relative;
            top: -1.5rem;
            font-size: 2rem;
            }
            input{
                border-radius: .3rem;
                padding: .6rem;
                font-size: 1.2rem;
                border: 1px solid rgba(128, 128, 128, 0.397);
                outline: none;
                font-weight: 400;
                width: 20rem;
            }
            .btn-primary{
                padding: 1rem;
                border: none;
                border-radius: .2rem;
                background-color: rgb(0, 140, 255);
                color: #fff;
            }
            .text-link{
                position: relative;
                top: 1rem;
            }
            input::placeholder{
                color:rgba(128, 128, 128, 0.788);
            }
            a{
                text-decoration: none;
                color: rgb(27, 133, 255);
            }
        }
    }
    }
    }
    
   
   
  
    
    
