
<div class="main">
    <section class="main-container">
       <aside class="cards">
        <aside  class="card1">
         <aside class="profile">
            <i class="fas fa-user-alt"></i>
         </aside>
         <aside class="condent">
            <p>Active Users</p>
            <p style="font-weight: 700;font-size: 1.6rem;">{{datauser.length}}</p>
         </aside>
        </aside>
        <aside class="card1" >
         <aside class="profile">
            <i class="fas fa-user-alt"></i>
         </aside>
         <aside class="condent">
            <p>Active Users</p>
            <p style="font-weight: 700;font-size: 1.6rem;">68</p>
         </aside>
        </aside>
        <aside class="card1" >
         <aside class="profile">
            <i class="fas fa-user-alt"></i>
         </aside>
         <aside class="condent">
            <p>Employees</p>
            <p style="font-weight: 700;font-size: 1.6rem;" *ngIf="dataemployee">{{dataemployee.length}}</p>
         </aside>
        </aside>
       </aside>
       <!-- <aside id="divChart"> -->
         <aside class="second-box">
         <div class="graph-box">
            <aside style="font-size: 2.2rem;font-weight: 700;">EMPLOYEE ROLE CHART</aside>
         <div style="width:100%; height:auto;">
            <canvas id="piechart" ></canvas>
            <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
          </div>
         </div>
         <div class="box">
         <aside class="table" style="background-color: rgba(255, 99, 132, 0.2);">
         <thead >
            <tr>
            <th>.NO</th>
            <th>Angular</th>
         </tr>
         </thead>
         <tbody *ngFor="let item of angular,let i=index">
            <tr>
            <td>{{i+1}}</td>
            <td>{{item.fname}}</td>
            </tr>
         </tbody>
         </aside>
         <aside class="table" style="background-color: rgba(54, 162, 235, 0.2);">
            <thead >
               <tr>
               <th>.NO</th>
               <th>HTML</th>
            </tr>
            </thead>
            <tbody *ngFor="let item of html,let i=index">
               <tr>
               <td>{{i+1}}</td>
               <td>{{item.fname}}</td>
               </tr>
            </tbody>
            </aside>
            <aside class="table" style="background-color: rgba(255, 206, 86, 0.2);">
               <thead >
                  <tr>
                  <th>.NO</th>
                  <th>.NET</th>
               </tr>
               </thead>
               <tbody *ngFor="let item of net,let i=index">
                  <tr>
                     <td>{{i+1}}</td>
                     <td>{{item.fname}}</td>
                  </tr>
             
               </tbody>
               </aside>
               <aside class="table" style="background-color: rgba(75, 192, 192, 0.2);">
                  <thead >
                     <tr>
                     <th>.NO</th>
                     <th>SEO</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let item of seo,let i=index">
                     <tr>
                        <td>{{i+1}}</td>
                        <td>{{item.fname}}</td>
                     </tr>
               
                  </tbody>
                  </aside>
                  <aside class="table" style="background-color: rgba(153, 102, 255, 0.2);">
                     <thead >
                        <tr>
                        <th>.NO</th>
                        <th>UI/UX</th>
                     </tr>
                     </thead>
                     <tbody *ngFor="let item of ui,let i=index">
                        <tr>
                           <td>{{i+1}}</td>
                           <td>{{item.fname}}</td>
                        </tr>
                    
                     </tbody>
                     </aside>
                     <aside class="table" style="background-color: rgba(255, 159, 64, 0.2);">
                        <thead >
                           <tr>
                           <th>.NO</th>
                           <th>REACT</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let item of react,let i=index">
                           <tr>
                              <td>{{i+1}}</td>
                              <td>{{item.fname}}</td>
                           </tr>
                       
                        </tbody>
                        </aside>
         </div>
         
      </aside>
       <!-- </aside> -->
    </section>
      
  </div>